<div class="row-volunteer">
	<% if flash[:success] %>
      <p class="alert alert-success"><%= flash[:success] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="alert alert-error"><%= flash[:error] %></p>
    <% end %>

    <% if(@organization.errors.size > 0 ) %>
    	<div class="alert alert-error">
    		<ul>
		    <% @organization.errors.full_messages.each do |message| %>
		    	<li><%= message %></li>
		    <% end %>
	    	</ul>
		</div>
    <% end %>
  <h3>Organization information</h3>
  <div >
	<%= form_for @organization, :html => { :class => "form-horizontal", :id => "organization-form" } do |f|  %>
		<div class="control-group">
			<%= label_tag :name, nil, :class => "control-label"%>
			
			<div class="controls">
				<%= f.text_field :name %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag "Logo", nil, :class => "control-label"%>
			
			<div class="controls">
				<%= f.file_field :avatar %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag :address_hq, nil, :class => "control-label"%>
			
			<div class="controls">
				<%= f.text_field :address_hq %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag :phone_number, nil, :class => "control-label"%>
			
			<div class="controls">
				<%= f.text_field :phone_number %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag :website_url, nil, :class => "control-label"%>
			
			<div class="controls">
				<%= f.text_field :website_url %>
			</div>
		</div>

		<div class="control-group">
			<%= label_tag :register_date, nil, :class => "control-label"%>
			
			<div class="controls">
				<%= f.text_field :register_date %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag :description, nil, :class => "control-label"%>
			
			<div class="controls">
				<%= f.text_area :description, :size => "20x12"  %>
			</div>
		</div>

		<%= f.hidden_field :id_user, :value => current_user.id %>

		<div class="control-group">
			<%= label_tag "Category", nil, :class => "control-label"%>
			<div class="controls">
				<%= select('organization', 'id_category', Category.all.collect  {|category| [category.name, category.id]}) %>
			</div>
		</div>

		<p>
		<div class="form-actions">
			<%= f.submit "Create organization", :class => 'btn btn-primary' %>
			<%= button_tag "Cancel", :type => 'button', :class => 'btn' %>
		</div>
		</p>
		
	<% end %>
  </div>
</div>


