<div class="centered-div">
<h1>Registration</h1>

<div>
	<%= form_for(@organization) do |f| %>
	
		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label "Logo" %>
		<%= f.file_field :avatar %>

		<%= f.label :address_hq %>
		<%= f.text_field :address_hq %>

		<%= f.label :phone_number %>
		<%= f.text_field :phone_number %>

		<%= f.label :website_url %>
		<%= f.text_field :website_url %>


		<%= f.label :register_date %>
		<%= f.text_field :register_date %>

		<%= f.label :description %>
		<%= f.text_area :description, :size => "20x12"  %>
		
		<%= f.hidden_field :id_user, :value => current_user.id %>

		<%= f.label "Category" %>
		<%= select('organization', 'id_category', Category.all.collect  {|category| [category.name, category.id]}) %>

		<p>
		<%= f.submit "Create organization" %>
		</p>
	<% end %>

	<%= session[:user_id] %>
</div>
</div>
