<div class="centered-div">
	<p><%= image_tag @organization.avatar.url(:thumb) %><h1><%= @organization.name %></h1></p>
	<p>
		<%= @organization.address_hq %></br>
		<%= @organization.phone_number %></br>
		<%= link_to @organization.website_url, @organization.website_url %></br>
		<%= Category.find(@organization.id_category).name %>
	</p>
	<p>
		Created by <%= link_to User.find(@organization.id_user).name, User.find(@organization.id_user) %>
	</p>
	<div><p><%= @organization.description %></p></div>

	<% if(current_user) then if(current_user.id == @organization.id_user) %>
	<%= button_to "Create campaign", {:controller => :campaigns, :action => 'new', :id => @organization.id }, :method => :get %>
	<% end end%>

	<% if(current_user) then if(current_user.id != @organization.id_user) %>
	<%= button_to "Join organization", {:controller => :organizations, :action => 'member_join', :id => current_user.id }, :method => :get %>
	<% end end%>
</div>



