<div class="centered-div">
	<p><%= image_tag @organization.avatar.url(:thumb) %><h1><%= @organization.name %></h1></p>
	<p>
		<%= @organization.address_hq %></br>
		<%= @organization.phone_number %></br>
		<%= link_to @organization.website_url %></br>
		<%= Category.find(@organization.id_category).name %>
	</p>
	<p>
		Created by <%= link_to User.find(@organization.id_user).name, User.find(@organization.id_user) %>
	</p>
	<div><p><%= @organization.description %></p></div>

	<% if(current_user) then if(current_user.id == @organization.id_user) then %>
	<%= button_to 'Create new campaign', new_campaign_path(:id_organization => @organization.id), :method => 'post' %>
	<% end end %>

	<% if(current_user.id != @organization.id_user) %>
	<%= button_to "Join", :controller => :organization_memberships, 
                           :action => 'create',
                           :user_id => current_user.id,
                           :organization_id => @organization.id,
                           :method => :post %>
	<% end %>

	<ul>
	<p>
	<h3>Campaigns</h3>
	<% if(Campaign.where("id_organization = ?", @organization.id).size != 0) then %>
	<% Campaign.where("id_organization = ?", @organization.id).each do |campaign| %></p>
	<li class="organization-grid-item">
	  <!-- <%= image_tag @organization.avatar.url(:thumb) %></br> -->
	  <%= link_to campaign.name, campaign %>
	</li>
	<% end %>
	<% else %> No campaigns to show 
	<% end %>
	
	</ul>
</div>



