<%= @campaigns.each do |campaign| %>
<div class="image-grid">
    <div class="campaign-item left">
        <div class="campaign-picture">
		<%= image_tag(campaign.avatar.url(:small), :alt => "campaign_cover", :class => "bw") %>
        </div>
        <p class="campaign-text"><%= campaign.description[0..100] %><%= if(campaign.description.length > 100) then link_to(" . . .", campaign) end%></p>
        <div class="resources-block">
            <div class="resources-name left">
                Donors
            </div>
            <div class="resources-quantity left">
                46%
            </div>
        </div>
        <a href="#" class="img-btn right">
           <%= link_to image_tag("btn_vermas.png") , campaign %>
        </a>
    </div>
</div>
<% end %>
