<div class="campaign-description">
    <% if flash[:success] %>
      <p class="alert alert-success"><%= flash[:success] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="alert alert-error"><%= flash[:error] %></p>
    <% end %>
    <h1><%= @campaign.name %></h1>
    <div class="campaign-picture">
        <%= image_tag(@campaign.avatar.url(:normal), :alt => "campaign") %>
    </div>
    <p class="campaign-text">
        <%= @campaign.description %>
    </p>
    <p class="campaign-origin">
        Launched by  <%= link_to User.find(@campaign.id_user).name, User.find(@campaign.id_user)  %> via <%= link_to Organization.find(@campaign.id_organization).name, Organization.find(@campaign.id_organization) %>
    </p>
    <p class="campaign-origin">
        The event will take place in <%= @campaign.date_event %>
    </p>
    <div "bar-wrapper">
        <h3>Volunteers</h3>
        <div class="bar-counter left">
            <div class="bar-graphic left" style="width:<%= @porcentaje %>% !important">
            </div>
        </div>
        <span class="left padding-left-1 bolder result"> <%= @porcentaje.to_i %> % </span>
        <div class="btn-support right margin-right-1">


            <% if(current_user) then if(current_user.id != @campaign.id_user) %>
            	<%= link_to "Volunteer", :controller => :campaign_member,
                                       :action => 'create',
                                       :id_user => current_user.id,
                                       :id_campaign => @campaign.id %>
               <% else %>
                    <i class="icon-ok"><%= "Volunteered!" %></i>
                <% end %>
                <% else %>
                    <%= link_to "Volunteer", :controller => :campaign_member,
                                       :action => 'create',
                                       :id_campaign => @campaign.id %>
            <% end %>

        </div>
    </div>
    <br>
    <div "bar-wrapper">
        <h3>Donations</h3>
        <div class="bar-counter left">
            <div class="bar-graphic left">
            </div>
        </div>
        <span class="left padding-left-1 bolder result"> 60% </span>
        <div class="btn-support right margin-right-1">
            <a id="btn-donate" href="#donate-slides">Donate!</a>
        </div>
    </div>
</div>
<div id="donate-slides" class="hidden">
    <p> Work in progress </p>
</div>
